Repository Paavveel/clothberry: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier-fix, npm run eslint, npm run stylelint

.lintstagedrc:

{
  "./**/*.{ts,tsx}": ["npm run prettier-fix", "npm run eslint"],
  "./**/*.{css,scss}": "npm run stylelint"
}

fix: (CLOTHBERRY-40) input duplicates ids
  src/components/Input/Input.tsx
  src/pages/ProfilePage/AddressCard/AddressCard.tsx
  src/pages/ProfilePage/AddressesList/AddressesList.tsx
  src/pages/ProfilePage/ProfileMainInfo/ProfileMainInfo.tsx
  src/pages/SignInPage/SignInPage.tsx
  src/pages/SignUpPage/SignUpPage.tsx
Due: npm run prettier-fix, npm run eslint

refactor: (CLOTHBERRY-40) delete CustomerStorage
  src/helpers/CustomerStorage.ts
Due: npm run prettier-fix, npm run eslint

feat: add skeleton, lazy-load, refactor responsive mobileMenu
  package-lock.json
  package.json
  src/components/MobileMenu/MobileMenu.module.css
  src/components/MobileMenu/MobileMenu.tsx
  src/components/ProductItem/Product.module.css
  src/components/ProductItem/ProductItem.tsx
  src/components/ProductList/ProductList.tsx
  src/components/Skeleton/Skeleton.module.css
  src/components/Skeleton/Skeleton.tsx
  src/hooks/useClickOutside.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-40) add loader in address card
  src/pages/ProfilePage/AddressCard/AddressCard.module.css
  src/pages/ProfilePage/AddressCard/AddressCard.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

fix: fix burger menu
  package.json
  src/components/Header/Header.module.css
  src/components/MobileMenu/MobileMenu.module.css
  src/components/MobileMenu/MobileMenu.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-40) add changeCustomerPassword
  src/store/features/auth/profileApi.ts
Due: npm run prettier-fix, npm run eslint

refactor: (CLOTHBERRY-40) main info
  src/pages/ProfilePage/ProfileMainInfo/ProfileMainInfo.tsx
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-40) implement ProfilePassword
  src/pages/ProfilePage/ProfilePage.module.css
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/ProfilePage/ProfilePassword/ProfilePassword.module.css
  src/pages/ProfilePage/ProfilePassword/ProfilePassword.tsx
  src/pages/ProfilePage/ProfilePassword/index.ts
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-41) create product page
  src/pages/ProductPage/ProductPage.module.css
  src/pages/ProductPage/ProductPage.tsx
  src/pages/ProductPage/index.ts
  src/styles/base/index.css
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-40) implement change password
  src/api/client.ts
  src/pages/ProfilePage/AddressesList/AddressesList.tsx
  src/pages/ProfilePage/ProfilePassword/ProfilePassword.tsx
Due: npm run prettier-fix, npm run eslint

refactor: (CLOTHBERRY-40) address card loading
  src/pages/ProfilePage/AddressCard/AddressCard.module.css
  src/pages/ProfilePage/AddressCard/AddressCard.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-40) add adaptive for Profile
  src/pages/ProfilePage/AddressCard/AddressCard.module.css
  src/pages/ProfilePage/AddressesList/AddressesList.module.css
  src/pages/ProfilePage/ProfileMainInfo/ProfileMainInfo.module.css
  src/pages/ProfilePage/ProfilePage.module.css
  src/pages/ProfilePage/ProfilePassword/ProfilePassword.module.css
Due: npm run stylelint

fix: (CLOTHBERRY-40) tests for Validators
  src/helpers/Validators.test.ts
Due: npm run prettier-fix, npm run eslint

docs: (CLOTHBERRY-40) change README.md
  README.md
Due: none

feat: (CLOTHBERRY-41) title, description and price
  src/pages/ProductPage/ProductPage.module.css
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-41) add swiper
  package-lock.json
  package.json
  src/pages/ProductPage/ProductPage.module.css
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-41) add pagination, correct position img
  src/pages/ProductPage/ProductPage.module.css
  src/pages/ProductPage/ProductPage.tsx
  src/styles/base/index.css
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-41) add navigation
  src/pages/ProductPage/ProductPage.tsx
  src/styles/base/index.css
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-41) add footer
  src/components/Footer/Footer.module.css
  src/components/Footer/Footer.tsx
  src/layout/Layout.tsx
  src/pages/ProductPage/ProductPage.module.css
  src/styles/base/index.css
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-41) add fancybox
  package-lock.json
  package.json
  src/components/Fancybox/Fancybox.tsx
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-41) add adaptive
  src/pages/ProductPage/ProductPage.module.css
  src/styles/base/index.css
Due: npm run stylelint

feat: (CLOTHBERRY-41) add border for active slide
  src/styles/base/index.css
Due: npm run stylelint

fix: (CLOTHBERRY-41) correct wrapper styles
  src/components/AppWrapper/AppWrapper.module.css
  src/styles/base/index.css
Due: npm run stylelint

refactor: (CLOTHBERRY-41) amazing code
  src/components/Header/Header.module.css
  src/pages/ProductPage/ProductPage.tsx
  src/styles/base/index.css
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-41) add correct price
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-41) add select without logic
  src/config/size.ts
  src/pages/ProductPage/ProductPage.tsx
  src/pages/ProductPage/types/index.ts
  src/pages/ProductPage/types/types.ts
Due: npm run prettier-fix, npm run eslint

feat: add search and filter by size
  package-lock.json
  package.json
  src/App.tsx
  src/api/search.ts
  src/components/Filter/Filter.module.css
  src/components/Filter/Filter.tsx
  src/components/Filter/data.ts
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
  src/components/MobileMenu/MobileMenu.tsx
  src/components/ProductItem/Product.module.css
  src/components/ProductItem/ProductItem.tsx
  src/components/ProductList/ProductList.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: add filter by range price
  .eslintrc.cjs
  package.json
  src/api/search.ts
  src/components/Breadcrumbs/Breadcrumbs.module.css
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Filter/Filter.tsx
  src/components/Filter/data.ts
  src/components/ProductItem/ProductItem.tsx
  src/components/ProductList/ProductList.tsx
  src/components/Skeleton/Skeleton.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

docs: update readme
  README.md
Due: none

fix: (CLOTHBERRY-39) remove padding from container
  package-lock.json
  src/styles/base/index.css
Due: npm run stylelint

feat: (CLOTHBERRY-41) add discount
  src/pages/ProductPage/ProductPage.module.css
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

fix: (CLOTHBERRY-41) remove unnecessary attribute
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier-fix, npm run eslint

refactor: refactor search input style
  src/components/Filter/Filter.module.css
  src/components/Filter/Filter.tsx
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
  src/components/Navbar/Navbar.module.css
  src/components/ProductList/ProductList.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feature: (CLOTHBERRY-39) implement catalog page (#44)
  .eslintrc.cjs
  README.md
  package-lock.json
  package.json
  public/filter.svg
  public/html.svg
  src/App.tsx
  src/api/categories.ts
  src/api/search.ts
  src/components/Breadcrumbs/Breadcrumbs.module.css
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Filter/Filter.module.css
  src/components/Filter/Filter.tsx
  src/components/Filter/data.ts
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
  src/components/MobileMenu/MobileMenu.module.css
  src/components/MobileMenu/MobileMenu.tsx
  src/components/Navbar/Dropdown.tsx
  src/components/Navbar/MenuItems.tsx
  src/components/Navbar/Navbar.module.css
  src/components/Navbar/Navbar.tsx
  src/components/ProductItem/Product.module.css
  src/components/ProductItem/ProductItem.tsx
  src/components/ProductList/ProductList.module.css
  src/components/ProductList/ProductList.tsx
  src/components/Skeleton/Skeleton.module.css
  src/components/Skeleton/Skeleton.tsx
  src/config/routes.ts
  src/hooks/useClickOutside.tsx
  src/pages/HomePage/HomePage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-41) add slider in main
  src/assets/images/main-img-1.png
  src/assets/images/main-img-2.jpg
  src/components/Header/Header.module.css
  src/pages/HomePage/HomePage.module.css
  src/pages/HomePage/HomePage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-41) add breadcrumbs
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier-fix, npm run eslint

refactor: (CLOTHBERRY-41) correct header style
  src/components/Header/Header.module.css
  src/pages/ProductPage/ProductPage.module.css
Due: npm run stylelint

fix: (CLOTHBERRY-41) correct style header
  src/components/Header/Header.module.css
  src/components/Navbar/Navbar.module.css
Due: npm run stylelint

feat: (CLOTHBERRY-41) add route productpage
  src/App.tsx
  src/components/ProductItem/ProductItem.tsx
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier-fix, npm run eslint
