Repository Paavveel/clothberry: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-7) install husky and stylelint (#16)
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .stylelintignore
  .stylelintrc
  package-lock.json
  package.json
  vite.config.ts
Due: npm run prettier-fix, npm run eslint

docs: (CLOTHBERRY-10) add README.md
  README.md
Due: none

docs: (CLOTHBERRY-10) add README.md (#17)
  README.md
Due: none

chore: (CLOTHBERRY-22) add SDK dependencies
  package-lock.json
  package.json
  vite.config.ts
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-22) add api client
  src/api/client.ts
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-22) change prettier settings
  .prettierignore
  .prettierrc
Due: none

feat: (CLOTHBERRY-22) change prettier settings; add SDK dependencies and api client (#23)
  .prettierignore
  .prettierrc
  package-lock.json
  package.json
  src/api/client.ts
  vite.config.ts
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-19) add base routing for register page
  .eslintrc.cjs
  package-lock.json
  package.json
  src/App.tsx
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-19) add global styles
  src/main.tsx
  src/styles/base/global.css
  src/styles/variables/variables.css
  src/styles/vendors/global.css
  src/styles/vendors/normalize.css
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-19) add Button component
  src/components/Button/Button.module.css
  src/components/Button/Button.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-19) add Input component
  src/components/Input/Input.module.css
  src/components/Input/Input.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-19) add Form component
  src/components/Form/Form.module.css
  src/components/Form/Form.tsx
  src/layout/Layout.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-19) add Validators helper
  src/helpers/Validators.ts
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-19) add Register page
  src/pages/Register/RegisterPage.module.css
  src/pages/Register/RegisterPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

refactor: (CLOTHBERRY-19) the Input component is now completely reusable
  src/components/Input/Input.tsx
  src/pages/Register/RegisterPage.tsx
Due: npm run prettier-fix, npm run eslint

refactor: remove important styles and refactor Button
  src/components/Button/Button.module.css
  src/components/Button/Button.tsx
  src/main.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

refactor: remove default validate form html5
  src/components/Form/Form.module.css
  src/components/Form/Form.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: add inputmode css for Input component
  src/components/Input/Input.module.css
  src/components/Input/Input.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

refactor: add inputmode for RegisterPage component
  src/pages/Register/RegisterPage.module.css
  src/pages/Register/RegisterPage.tsx
  src/styles/base/global.css
  src/styles/variables/variables.css
Due: npm run prettier-fix, npm run eslint, npm run stylelint

fix: (CLOTHBERRY-19) remove unused vars and remove active on disabled
  src/components/Button/Button.module.css
  src/components/Button/Button.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

fix: (CLOTHBERRY-19) fix active button
  src/components/Button/Button.module.css
Due: npm run stylelint

fix: (CLOTHBERRY-19) fix active button, remove the wrong styles
  src/components/Button/Button.module.css
Due: npm run stylelint

feat: (CLOTHBERRY-19) postal code validation depending on country selection
  src/components/Button/Button.tsx
  src/components/Checkbox/Checkbox.module.css
  src/components/Checkbox/Checkbox.tsx
  src/helpers/Validators.ts
  src/pages/Register/RegisterPage.module.css
  src/pages/Register/RegisterPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-19) add a button to show the password during the input process
  src/assets/img/close-eye.svg
  src/assets/img/open-eye.svg
  src/components/Input/Input.module.css
  src/components/Input/Input.tsx
  src/helpers/Validators.ts
  src/pages/Register/RegisterPage.module.css
  src/pages/Register/RegisterPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

refactor: (CLOTHBERRY-19) add re-export, refactor date component and styles
  package-lock.json
  src/App.tsx
  src/assets/.gitkeep
  src/components/.gitkeep
  src/components/Button/Button.module.css
  src/components/Button/index.ts
  src/components/Checkbox/Checkbox.module.css
  src/components/Checkbox/index.ts
  src/components/Form/Form.module.css
  src/components/Form/index.ts
  src/components/Input/Input.module.css
  src/components/Input/Input.tsx
  src/components/Input/index.ts
  src/components/index.ts
  src/config/routes.ts
  src/helpers/.gitkeep
  src/pages/.gitkeep
  src/pages/SignUpPage/SignUpPage.module.css
  src/pages/SignUpPage/SignUpPage.tsx
  src/pages/SignUpPage/index.ts
  src/styles/base/.gitkeep
  src/styles/base/global.css
  src/styles/variables/.gitkeep
  src/styles/variables/variables.css
  src/styles/vendors/.gitkeep
Due: npm run prettier-fix, npm run eslint, npm run stylelint

refactor: (CLOTHBERRY-19) add fallback fonts, remove inline eslint rules
  src/layout/Layout.tsx
  src/styles/base/global.css
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feature: (CLOTHBERRY-19) implement sign up page (#24)
  .eslintrc.cjs
  package-lock.json
  package.json
  src/App.tsx
  src/assets/.gitkeep
  src/assets/img/close-eye.svg
  src/assets/img/open-eye.svg
  src/components/.gitkeep
  src/components/Button/Button.module.css
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  src/components/Checkbox/Checkbox.module.css
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/index.ts
  src/components/Form/Form.module.css
  src/components/Form/Form.tsx
  src/components/Form/index.ts
  src/components/Input/Input.module.css
  src/components/Input/Input.tsx
  src/components/Input/index.ts
  src/components/index.ts
  src/config/routes.ts
  src/helpers/.gitkeep
  src/helpers/Validators.ts
  src/layout/Layout.tsx
  src/main.tsx
  src/pages/.gitkeep
  src/pages/SignUpPage/SignUpPage.module.css
  src/pages/SignUpPage/SignUpPage.tsx
  src/pages/SignUpPage/index.ts
  src/styles/base/.gitkeep
  src/styles/base/global.css
  src/styles/variables/.gitkeep
  src/styles/variables/variables.css
  src/styles/vendors/.gitkeep
  src/styles/vendors/normalize.css
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: add api client and configure store/hooks
  .eslintrc.cjs
  package-lock.json
  package.json
  src/api/client.ts
  src/main.tsx
  src/store/.gitkeep
  src/store/features/auth/RequireAuth.tsx
  src/store/features/auth/authApi.ts
  src/store/features/auth/authSlice.ts
  src/store/hooks.ts
  src/store/store.ts
  src/vite-env.d.ts
Due: npm run prettier-fix, npm run eslint

feat: add api client and configure store/hooks (#27)
  .eslintrc.cjs
  package-lock.json
  package.json
  src/api/client.ts
  src/main.tsx
  src/store/.gitkeep
  src/store/features/auth/RequireAuth.tsx
  src/store/features/auth/authApi.ts
  src/store/features/auth/authSlice.ts
  src/store/hooks.ts
  src/store/store.ts
  src/vite-env.d.ts
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-18) create SignInPage draft
  package-lock.json
  src/App.tsx
  src/helpers/Validators.ts
  src/pages/SignInPage/SignInPage.module.css
  src/pages/SignInPage/SignInPage.tsx
  src/pages/SignInPage/index.ts
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-20) add homePage and notFoundPage
  package-lock.json
  src/pages/HomePage/HomePage.module.css
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/index.ts
  src/pages/NotFoundPage/NotFoundPage.module.css
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/pages/NotFoundPage/index.ts
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-18) add error handling
  src/pages/SignInPage/SignInPage.module.css
  src/pages/SignInPage/SignInPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-25) add integration with SDK register customer
  package-lock.json
  src/helpers/BuildNewCustomer.ts
  src/helpers/Validators.ts
  src/pages/SignUpPage/SignUpPage.tsx
  src/store/features/auth/authSlice.ts
  src/store/features/signup/signupApi.ts
Due: npm run prettier-fix, npm run eslint

refactor: (CLOTHBERRY-25) destructured the registration page
  src/helpers/BuildNewCustomer.ts
  src/pages/SignUpPage/SignUpPage.module.css
  src/pages/SignUpPage/SignUpPage.tsx
  src/pages/SignUpPage/buildNewCustomer.ts
  src/pages/SignUpPage/types/enum.ts
  src/pages/SignUpPage/types/index.ts
  src/pages/SignUpPage/types/interface.ts
  src/pages/SignUpPage/types/types.ts
  src/store/features/auth/authSlice.ts
  src/store/features/auth/signupApi.ts
Due: npm run prettier-fix, npm run eslint, npm run stylelint

refactor: (CLOTHBERRY-18) login api error message
  src/pages/SignInPage/SignInPage.module.css
  src/pages/SignInPage/SignInPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

refactor: (CLOTHBERRY-25) refactor signup page
  src/pages/SignUpPage/SignUpPage.tsx
  src/pages/SignUpPage/buildNewCustomer.ts
  src/pages/SignUpPage/types/enum.ts
  src/store/features/auth/signupApi.ts
Due: npm run prettier-fix, npm run eslint

feat: add integration with SDK register customer (#28)
  package-lock.json
  src/helpers/Validators.ts
  src/pages/SignUpPage/SignUpPage.module.css
  src/pages/SignUpPage/SignUpPage.tsx
  src/pages/SignUpPage/buildNewCustomer.ts
  src/pages/SignUpPage/types/index.ts
  src/pages/SignUpPage/types/interface.ts
  src/pages/SignUpPage/types/types.ts
  src/store/features/auth/authSlice.ts
  src/store/features/auth/signupApi.ts
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-18) add SignInPage (#29)
  src/App.tsx
  src/helpers/Validators.ts
  src/pages/SignInPage/SignInPage.module.css
  src/pages/SignInPage/SignInPage.tsx
  src/pages/SignInPage/index.ts
Due: npm run prettier-fix, npm run eslint, npm run stylelint

fix: (CLOTHBERRY-30) redirection for SignUpPage
  src/pages/SignUpPage/SignUpPage.tsx
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-30) Implement persist login
  src/App.tsx
  src/api/client.ts
  src/api/token.ts
  src/helpers/TokenStorage.ts
  src/store/features/auth/CheckAuth.tsx
  src/store/features/auth/authApi.ts
  src/store/features/auth/authSlice.ts
Due: npm run prettier-fix, npm run eslint

Path conditions:
  npm run prettier-fix: any of: ./**/*.{ts,tsx}
  npm run eslint: any of: ./**/*.{ts,tsx}
  npm run stylelint: any of: ./**/*.{css,scss}
