Repository Paavveel/clothberry: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-30) Implement persist login (#31)
  src/App.tsx
  src/api/client.ts
  src/api/token.ts
  src/helpers/TokenStorage.ts
  src/pages/SignUpPage/SignUpPage.tsx
  src/store/features/auth/CheckAuth.tsx
  src/store/features/auth/authApi.ts
  src/store/features/auth/authSlice.ts
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-20) add icons
  src/assets/images/logo.png
  src/assets/img/basket.svg
  src/assets/img/fav.svg
  src/assets/img/user.svg
  src/pages/HomePage/HomePage.tsx
  src/pages/NotFoundPage/NotFoundPage.module.css
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: ( CLOTHBERRY-20) add alien header
  src/App.tsx
  src/assets/img/search.svg
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
  src/layout/Layout.tsx
  src/pages/HomePage/HomePage.module.css
  src/pages/HomePage/HomePage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

refactor: (CLOTHBERRY-20) change img name
  src/components/Header/Header.tsx
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-20) add not found route
  src/App.tsx
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
  src/main.tsx
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

refactor: (CLOTHBERRY-20) back changes main file
  src/main.tsx
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-20) add style for not found page
  src/pages/NotFoundPage/NotFoundPage.module.css
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-20) add color variable
  src/pages/NotFoundPage/NotFoundPage.module.css
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-20) add correct path img, add style for header
  src/assets/images/logo.png
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
  src/pages/HomePage/HomePage.module.css
  src/pages/HomePage/HomePage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-20) add burger icon
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-20) add signin icon, add burger menu
  src/assets/img/signin.svg
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

refactor: (CLOTHBERRY-20) add color variable in header
  src/components/Header/Header.module.css
Due: npm run stylelint

feat: (CLOTHBERRY-20) remove signin link, update not found page, correct burger
  src/assets/img/signin.svg
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-20) add hover for burger links
  src/components/Header/Header.module.css
Due: npm run stylelint

feat: (CLOTHBERRY-20) add plugin for svg image
  package-lock.json
  package.json
  src/components/Header/Header.tsx
  src/vite-env.d.ts
  vite.config.ts
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-20) create header(burger) and not found page (#32)
  package-lock.json
  package.json
  src/App.tsx
  src/assets/img/basket.svg
  src/assets/img/fav.svg
  src/assets/img/search.svg
  src/assets/img/user.svg
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
  src/layout/Layout.tsx
  src/pages/HomePage/HomePage.module.css
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/index.ts
  src/pages/NotFoundPage/NotFoundPage.module.css
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/pages/NotFoundPage/index.ts
  src/vite-env.d.ts
  vite.config.ts
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-34) add favicon
  favicon.ico
  index.html
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: npm run prettier-fix, npm run eslint

fix: fix signup bug
  src/pages/SignUpPage/SignUpPage.module.css
  src/pages/SignUpPage/SignUpPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: remove fav btn
  src/assets/img/fav.svg
  src/components/Header/Header.tsx
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-34) add links in main page
  src/pages/HomePage/HomePage.module.css
  src/pages/HomePage/HomePage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

fix: (CLOTHBERRY-34) change menu name items
  src/components/Header/Header.tsx
Due: npm run prettier-fix, npm run eslint

fix: (CLOTHBERRY-34) remove display none
  src/components/Header/Header.module.css
Due: npm run stylelint

feat: (CLOTHBERRY-34) add correct burger
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-34) add fill for icon
  src/assets/img/basket.svg
  src/assets/img/user.svg
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-34) add logout
  src/assets/img/logout.svg
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-34) add route for cart, profile
  src/App.tsx
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

bugfix: clothberry-34 (#35)
  favicon.ico
  index.html
  src/App.tsx
  src/assets/img/basket.svg
  src/assets/img/fav.svg
  src/assets/img/logout.svg
  src/assets/img/user.svg
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
  src/pages/HomePage/HomePage.module.css
  src/pages/HomePage/HomePage.tsx
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/pages/SignUpPage/SignUpPage.module.css
  src/pages/SignUpPage/SignUpPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

fix: (CLOTHBERRY-36) node polyfills
  package-lock.json
  package.json
  src/main.tsx
  src/pages/SignUpPage/types/index.ts
  src/store/features/auth/CheckAuth.tsx
  src/store/features/auth/RequireAuth.tsx
  src/styles/base/index.css
  vite.config.ts
Due: npm run prettier-fix, npm run eslint, npm run stylelint

fix: (CLOTHBERRY-36) node polyfills (#37)
  package-lock.json
  package.json
  src/main.tsx
  src/pages/SignUpPage/types/index.ts
  src/store/features/auth/CheckAuth.tsx
  src/store/features/auth/RequireAuth.tsx
  src/styles/base/index.css
  vite.config.ts
Due: npm run prettier-fix, npm run eslint, npm run stylelint

chore: add test coverage setup
  README.md
  package-lock.json
  package.json
  vite.config.ts
Due: npm run prettier-fix, npm run eslint

feat: add tests for authSlice
  src/store/features/auth/authSlice.test.ts
Due: npm run prettier-fix, npm run eslint

feat: add test for Checkbox component
  package-lock.json
  package.json
  src/components/Checkbox/Checkbox.test.tsx
  src/components/Checkbox/Checkbox.tsx
Due: npm run prettier-fix, npm run eslint

feat: add area label for link in header
  src/components/Header/Header.tsx
Due: npm run prettier-fix, npm run eslint

feat: add tests for Button component
  src/components/Button/Button.test.tsx
Due: npm run prettier-fix, npm run eslint

feat: add test case
  src/components/Input/Input.test.tsx
  src/helpers/Validators.test.ts
Due: npm run prettier-fix, npm run eslint

fix: add shippingAddress and billingAddress field
  src/pages/SignUpPage/buildNewCustomer.ts
  src/pages/SignUpPage/types/types.ts
Due: npm run prettier-fix, npm run eslint

fix: delete App test
  src/App.test.tsx
Due: npm run prettier-fix, npm run eslint

fix: redux dev tools
  src/store/store.ts
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-40) add Loader component
  src/components/Loader/Loader.module.css
  src/components/Loader/Loader.tsx
  src/components/Loader/index.ts
Due: npm run prettier-fix, npm run eslint, npm run stylelint

Path conditions:
  npm run prettier-fix: any of: ./**/*.{ts,tsx}
  npm run eslint: any of: ./**/*.{ts,tsx}
  npm run stylelint: any of: ./**/*.{css,scss}
