Repository Paavveel/clothberry: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier-fix, npm run eslint, npm run stylelint

.lintstagedrc:

{
  "./**/*.{ts,tsx}": ["npm run prettier-fix", "npm run eslint"],
  "./**/*.{css,scss}": "npm run stylelint"
}

feat: (CLOTHBERRY-56) inifine scroll
  .eslintrc.cjs
  package-lock.json
  package.json
  src/api/search.ts
  src/components/Filter/Filter.tsx
  src/components/ProductItem/ProductItem.tsx
  src/components/ProductList/ProductList.module.css
  src/components/ProductList/ProductList.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

fix: (CLOTHBERRY-57) remove scale
  src/components/BasketItem/BasketItem.module.css
Due: npm run stylelint

refactor: (CLOTHBERRY-57) menu items paddings
  src/components/Header/Header.module.css
  src/components/Navbar/MenuItems.tsx
  src/components/Navbar/Navbar.module.css
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-57) implement promo prices
  src/components/BasketItem/BasketItem.tsx
  src/components/BasketList/BasketList.tsx
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-51) add link rsschool
  src/assets/img/school.svg
  src/pages/AboutPage/AboutPage.module.css
  src/pages/AboutPage/AboutPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

docs: (CLOTHBERRY-51) readme update
  README.md
Due: none

feature: (CLOTHBERRY-51) implement about us page (#58)
  README.md
  src/App.tsx
  src/assets/images/alexey.jpg
  src/assets/images/pavel.jpeg
  src/assets/images/vladimir.jpg
  src/assets/img/school.svg
  src/components/Header/Header.module.css
  src/components/MobileMenu/MobileMenu.module.css
  src/components/MobileMenu/MobileMenu.tsx
  src/components/Navbar/Navbar.tsx
  src/config/routes.ts
  src/pages/AboutPage/AboutPage.module.css
  src/pages/AboutPage/AboutPage.tsx
  src/pages/HomePage/HomePage.module.css
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

fix: (CLOTHBERRY-57) menu link styles
  src/components/Navbar/Navbar.module.css
Due: npm run stylelint

feat: (CLOTHBERRY-57) show original price
  src/components/BasketList/BasketList.module.css
  src/components/BasketList/BasketList.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERYY-57) improve header rerender
  src/components/MobileMenu/MobileMenu.tsx
  src/components/Navbar/Navbar.tsx
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-57) add PromoSection
  src/components/BasketList/BasketList.module.css
  src/components/BasketList/BasketList.tsx
  src/components/PromoSection/PromoSection.module.css
  src/components/PromoSection/PromoSection.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-57) add adaptive for BasketItem
  src/components/BasketItem/BasketItem.module.css
  src/components/BasketList/BasketList.module.css
Due: npm run stylelint

fix: (CLOTHBERRY-57) autocomplete for Promo
  src/components/PromoSection/PromoSection.tsx
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-57) add CopyButton component
  package-lock.json
  package.json
  src/assets/img/copy-success.svg
  src/assets/img/copy.svg
  src/components/CopyButton/CopyButton.module.css
  src/components/CopyButton/CopyButton.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-57) implement Promo codes
  src/config/promo.ts
  src/pages/HomePage/HomePage.module.css
  src/pages/HomePage/HomePage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

docs: (CLOTHBERRY-57) change README.md
  README.md
Due: none

fix: (CLOTHBERRY-56) fix max sum page with pagination
  src/components/Navbar/MenuItems.tsx
  src/components/ProductList/ProductList.tsx
Due: npm run prettier-fix, npm run eslint

feature: (CLOTHBERRY-57) Basket Page Implementation - integrate with API (#59)
  README.md
  package-lock.json
  package.json
  src/assets/img/copy-success.svg
  src/assets/img/copy.svg
  src/assets/img/trash-can.svg
  src/components/BasketItem/BasketItem.module.css
  src/components/BasketItem/BasketItem.tsx
  src/components/BasketList/BasketList.module.css
  src/components/BasketList/BasketList.tsx
  src/components/CopyButton/CopyButton.module.css
  src/components/CopyButton/CopyButton.tsx
  src/components/EmptyCart/EmptyCart.module.css
  src/components/EmptyCart/EmptyCart.tsx
  src/components/Header/Header.module.css
  src/components/MobileMenu/MobileMenu.tsx
  src/components/Modal/Modal.module.css
  src/components/Modal/Modal.tsx
  src/components/Navbar/MenuItems.tsx
  src/components/Navbar/Navbar.module.css
  src/components/Navbar/Navbar.tsx
  src/components/ProductItem/ProductItem.tsx
  src/components/PromoSection/PromoSection.module.css
  src/components/PromoSection/PromoSection.tsx
  src/config/promo.ts
  src/pages/BasketPage/Basket.tsx
  src/pages/HomePage/HomePage.module.css
  src/pages/HomePage/HomePage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feature: (CLOTHBERRY-56) implement infinity scrolling for catalog page (#60)
  .eslintrc.cjs
  package-lock.json
  package.json
  src/api/search.ts
  src/components/Filter/Filter.tsx
  src/components/ProductItem/ProductItem.tsx
  src/components/ProductList/ProductList.module.css
  src/components/ProductList/ProductList.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

fix: (CLOTHBERRY-50) add detail
  src/components/ProductItem/ProductItem.tsx
  src/pages/AboutPage/AboutPage.tsx
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-50) add style for btn
  src/pages/ProductPage/ProductPage.module.css
Due: npm run stylelint

feat: (CLOTHBERRY-50) add style for hover
  src/pages/AboutPage/AboutPage.module.css
Due: npm run stylelint

fix: (CLOTHBERRY-50) correct adaptive header
  src/components/Header/Header.module.css
Due: npm run stylelint

feat: (CLOTHBERRY-50) add template btn
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier-fix, npm run eslint

fix: (CLOTHBERRY-50) move back changes style header
  src/components/Header/Header.module.css
Due: npm run stylelint

feat: (CLOTHBERRY-50) add possible add to cart
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier-fix, npm run eslint

feature: (CLOTHBERRY-50) implement half (#61)
  src/components/ProductItem/ProductItem.tsx
  src/pages/AboutPage/AboutPage.module.css
  src/pages/AboutPage/AboutPage.tsx
  src/pages/ProductPage/ProductPage.module.css
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-50) implement add/delete
  package-lock.json
  src/pages/ProductPage/ProductPage.module.css
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-50) add optimized images to home
  src/assets/images/main-img-1.jpg
  src/assets/images/main-img-1.png
  src/assets/images/main-img-2.jpg
  src/pages/HomePage/HomePage.module.css
  src/pages/HomePage/HomePage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-50) add draft for anonymous cart
  src/api/client.ts
  src/api/token.ts
  src/helpers/TokenStorage.ts
  src/store/features/auth/CheckAuth.tsx
  src/store/features/auth/authApi.ts
  src/store/features/auth/authSlice.ts
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-50) implement anon save cart
  src/api/client.ts
  src/pages/SignUpPage/SignUpPage.tsx
  src/store/features/auth/CheckAuth.tsx
  src/store/features/auth/authApi.ts
  src/store/features/auth/authSlice.ts
  src/store/features/auth/profileApi.ts
  src/store/features/auth/signupApi.ts
Due: npm run prettier-fix, npm run eslint

fix: (CLOTHBERRY-50) ProfilePage useEffect
  src/pages/ProfilePage/ProfilePage.tsx
Due: npm run prettier-fix, npm run eslint

fix: (CLOTHBERRY-50) add invalid token handlers
  src/store/features/auth/authApi.ts
  src/store/features/auth/cartApi.ts
  src/store/features/auth/signupApi.ts
Due: npm run prettier-fix, npm run eslint

fix: (CLOTHBERRY-50) menu and navbar a11y
  src/components/Header/Header.module.css
  src/components/Navbar/MenuItems.tsx
  src/components/Navbar/Navbar.module.css
Due: npm run prettier-fix, npm run eslint, npm run stylelint

chore: (CLOTHBERRY-50) remove uuid dependency
  package.json
Due: none

fix: (CLOTHBERRY-50) about link
  src/components/MobileMenu/MobileMenu.tsx
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-50) mobile menu layout close
  src/components/MobileMenu/MobileMenu.module.css
  src/components/MobileMenu/MobileMenu.tsx
  src/hooks/useClickOutside.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

fix: (CLOTHBERRY-50) test for authSlice
  src/store/features/auth/authSlice.test.ts
Due: npm run prettier-fix, npm run eslint

feature: (CLOTHBERRY-50) Detailed Product Page Implementation and Anonymous session cart (#62)
  package-lock.json
  package.json
  src/api/client.ts
  src/api/token.ts
  src/assets/images/main-img-1.jpg
  src/assets/images/main-img-1.png
  src/assets/images/main-img-2.jpg
  src/components/Header/Header.module.css
  src/components/MobileMenu/MobileMenu.module.css
  src/components/MobileMenu/MobileMenu.tsx
  src/components/Navbar/MenuItems.tsx
  src/components/Navbar/Navbar.module.css
  src/helpers/TokenStorage.ts
  src/hooks/useClickOutside.tsx
  src/pages/HomePage/HomePage.module.css
  src/pages/HomePage/HomePage.tsx
  src/pages/ProductPage/ProductPage.module.css
  src/pages/ProductPage/ProductPage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/SignUpPage/SignUpPage.tsx
  src/store/features/auth/CheckAuth.tsx
  src/store/features/auth/authApi.ts
  src/store/features/auth/authSlice.test.ts
  src/store/features/auth/authSlice.ts
  src/store/features/auth/cartApi.ts
  src/store/features/auth/profileApi.ts
  src/store/features/auth/signupApi.ts
Due: npm run prettier-fix, npm run eslint, npm run stylelint

fix: fix maxPage in ProductList
  package-lock.json
  src/components/ProductList/ProductList.tsx
Due: npm run prettier-fix, npm run eslint
