Repository Paavveel/clothberry: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier-fix, npm run eslint, npm run stylelint

fix: (CLOTHBERRY-41) correct size swiper photo
  src/pages/ProductPage/ProductPage.tsx
  src/styles/base/index.css
Due: npm run prettier-fix, npm run eslint, npm run stylelint

fix: (CLOTHBERRY-41) correct breadcrumbs
  src/components/Breadcrumbs/Breadcrumbs.module.css
Due: npm run stylelint

docs: (CLOTHBERRY-41) update docs
  README.md
Due: none

feature: (CLOTHBERRY-41) implement product page (#46)
  README.md
  package-lock.json
  package.json
  src/App.tsx
  src/assets/images/main-img-1.png
  src/assets/images/main-img-2.jpg
  src/components/AppWrapper/AppWrapper.module.css
  src/components/Breadcrumbs/Breadcrumbs.module.css
  src/components/Fancybox/Fancybox.tsx
  src/components/Footer/Footer.module.css
  src/components/Footer/Footer.tsx
  src/components/Header/Header.module.css
  src/components/Navbar/Navbar.module.css
  src/components/ProductItem/ProductItem.tsx
  src/config/size.ts
  src/layout/Layout.tsx
  src/pages/HomePage/HomePage.module.css
  src/pages/HomePage/HomePage.tsx
  src/pages/ProductPage/ProductPage.module.css
  src/pages/ProductPage/ProductPage.tsx
  src/pages/ProductPage/index.ts
  src/pages/ProductPage/types/index.ts
  src/pages/ProductPage/types/types.ts
  src/styles/base/index.css
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-45) add rout
  .eslintrc.cjs
  src/App.tsx
  src/api/categories.ts
  src/api/search.ts
  src/components/Breadcrumbs/Breadcrumbs.module.css
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Filter/Filter.module.css
  src/components/Input/Input.test.tsx
  src/components/ProductItem/ProductItem.tsx
  src/components/ProductList/ProductList.tsx
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-45) add filter by brand use API
  src/api/search.ts
  src/components/Filter/Filter.tsx
  src/components/Filter/data.ts
  src/components/ProductList/ProductList.tsx
Due: npm run prettier-fix, npm run eslint

fix: fix card description
  netlify.toml
  src/components/ProductItem/Product.module.css
  src/components/ProductItem/ProductItem.tsx
  src/components/ProductList/ProductList.module.css
  src/components/ProductList/ProductList.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feature: (CLOTHBERRY-45) catalog page implementation - part 2 (#47)
  .eslintrc.cjs
  netlify.toml
  src/App.tsx
  src/api/categories.ts
  src/api/search.ts
  src/components/Breadcrumbs/Breadcrumbs.module.css
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Filter/Filter.module.css
  src/components/Filter/Filter.tsx
  src/components/Filter/data.ts
  src/components/Input/Input.test.tsx
  src/components/ProductItem/Product.module.css
  src/components/ProductItem/ProductItem.tsx
  src/components/ProductList/ProductList.module.css
  src/components/ProductList/ProductList.tsx
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-53) add cart slice draft
  src/components/Header/Header.tsx
  src/components/ProductItem/ProductItem.tsx
  src/store/features/auth/CheckAuth.tsx
  src/store/features/auth/authApi.ts
  src/store/features/cart/cartApi.ts
  src/store/features/cart/cartSlice.ts
  src/store/store.ts
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-52) add ui shopping card
  netlify.toml
  public/nike.png
  public/remove_basket.svg
  src/App.tsx
  src/components/BasketItem/BasketItem.module.css
  src/components/BasketItem/BasketItem.tsx
  src/components/BasketList/BasketList.module.css
  src/components/BasketList/BasketList.tsx
  src/components/Header/Header.tsx
  src/components/ProductItem/ProductItem.tsx
  src/config/routes.ts
  src/pages/BasketPage/Basket.module.css
  src/pages/BasketPage/Basket.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

fix: (CLOTHBERRY-53) product detail and breadcrumb
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/ProductItem/ProductItem.tsx
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier-fix, npm run eslint

fix: (CLOTHBERRY-53) product item height
  src/components/ProductItem/ProductItem.tsx
Due: npm run prettier-fix, npm run eslint

refactor: (CLOTHBERRY-53) cart button
  src/components/ProductItem/Product.module.css
Due: npm run stylelint

feat: (CLOTBERRY-53) add cart draft
  src/components/Header/Header.tsx
  src/components/ProductItem/ProductItem.tsx
  src/store/features/auth/authApi.ts
  src/store/features/auth/authSlice.ts
  src/store/features/auth/cartApi.ts
  src/store/features/cart/cartSlice.ts
  src/store/store.ts
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-53) add basket total count mark
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-53) add logic for active cart
  src/components/ProductItem/ProductItem.tsx
  src/store/features/auth/CheckAuth.tsx
  src/store/features/auth/authApi.ts
  src/store/features/auth/authSlice.ts
  src/store/features/auth/cartApi.ts
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-53) add disabled for adding
  src/components/ProductItem/ProductItem.tsx
Due: npm run prettier-fix, npm run eslint

refactor: (CLOTHBERRY-53) logo css
  src/components/Header/Header.module.css
Due: npm run stylelint

feat: (CLOTHBERRY-53) add product to cart by size
  src/assets/img/arrow.svg
  src/components/ProductItem/Product.module.css
  src/components/ProductItem/ProductItem.tsx
  src/components/ProductList/ProductList.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: responsive BasketList
  src/components/BasketList/BasketList.module.css
  src/components/BasketList/BasketList.tsx
  src/components/ProductItem/ProductItem.tsx
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-53) delete from cart logic
  src/assets/img/minus.svg
  src/assets/img/plus.svg
  src/components/ProductItem/Product.module.css
  src/components/ProductItem/ProductItem.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-53) delete cart
  src/store/features/auth/authSlice.ts
  src/store/features/auth/cartApi.ts
Due: npm run prettier-fix, npm run eslint

refactor: (CLOTHBERRY-52) refactor handle filter function
  .eslintrc.cjs
  src/components/Filter/Filter.tsx
  src/components/ProductList/ProductList.tsx
Due: npm run prettier-fix, npm run eslint

feature: (CLOTHBERRY-53) Basket Page Implementation - API / Redux (#54)
  src/assets/img/arrow.svg
  src/assets/img/minus.svg
  src/assets/img/plus.svg
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
  src/components/ProductItem/Product.module.css
  src/components/ProductItem/ProductItem.tsx
  src/components/ProductList/ProductList.tsx
  src/pages/ProductPage/ProductPage.tsx
  src/store/features/auth/CheckAuth.tsx
  src/store/features/auth/authApi.ts
  src/store/features/auth/authSlice.ts
  src/store/features/auth/cartApi.ts
Due: npm run prettier-fix, npm run eslint, npm run stylelint

fix: (CLOTHBERRY-52) fix name router
  src/components/Header/Header.tsx
  src/components/ProductItem/ProductItem.tsx
Due: npm run prettier-fix, npm run eslint

feature: (CLOTHBERRY-52) implement ui basket page (#55)
  .eslintrc.cjs
  netlify.toml
  public/nike.png
  public/remove_basket.svg
  src/App.tsx
  src/components/BasketItem/BasketItem.module.css
  src/components/BasketItem/BasketItem.tsx
  src/components/BasketList/BasketList.module.css
  src/components/BasketList/BasketList.tsx
  src/components/Filter/Filter.tsx
  src/components/Header/Header.tsx
  src/components/ProductItem/ProductItem.tsx
  src/components/ProductList/ProductList.tsx
  src/config/routes.ts
  src/pages/BasketPage/Basket.module.css
  src/pages/BasketPage/Basket.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-51) add scroll for iphone5 in burger, add about link
  src/components/Header/Header.module.css
  src/components/MobileMenu/MobileMenu.module.css
  src/components/MobileMenu/MobileMenu.tsx
  src/components/Navbar/Navbar.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-57) implement render line items
  src/components/BasketList/BasketList.module.css
  src/components/BasketList/BasketList.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-57) change mock data BasketItem
  src/assets/img/trash-can.svg
  src/components/BasketItem/BasketItem.module.css
  src/components/BasketItem/BasketItem.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-57) add discounted price
  src/components/BasketItem/BasketItem.module.css
  src/components/BasketItem/BasketItem.tsx
  src/components/BasketList/BasketList.module.css
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-57) implement empty cart
  src/components/BasketList/BasketList.tsx
  src/components/EmptyCart/EmptyCart.module.css
  src/components/EmptyCart/EmptyCart.tsx
  src/pages/BasketPage/Basket.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-51) add about page template
  src/App.tsx
  src/config/routes.ts
  src/pages/AboutPage/AboutPage.module.css
  src/pages/AboutPage/AboutPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-57) implement clear cart
  src/components/BasketList/BasketList.module.css
  src/components/BasketList/BasketList.tsx
  src/components/Modal/Modal.module.css
  src/components/Modal/Modal.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

refactor: (CLOTHBERRY-56) refactor search api function
  src/api/search.ts
  src/components/ProductList/ProductList.tsx
Due: npm run prettier-fix, npm run eslint

refactor: (CLOTHBERRY-51) remove px
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-51) add content about page
  src/assets/images/alexey.jpg
  src/assets/images/pavel.jpeg
  src/pages/AboutPage/AboutPage.module.css
  src/pages/AboutPage/AboutPage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-51) add border-radius for main slider
  src/pages/HomePage/HomePage.module.css
Due: npm run stylelint

feat: (CLOTHBERRY-51) add last team member
  src/assets/images/vladimir.jpg
  src/pages/AboutPage/AboutPage.tsx
Due: npm run prettier-fix, npm run eslint

fix: (CLOTHBERRY-57) link to product page
  src/components/ProductItem/ProductItem.tsx
Due: npm run prettier-fix, npm run eslint

Path conditions:
  npm run prettier-fix: any of: ./**/*.{ts,tsx}
  npm run eslint: any of: ./**/*.{ts,tsx}
  npm run stylelint: any of: ./**/*.{css,scss}
