Repository Paavveel/clothberry: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-40) add CustomerStorage helper
  src/helpers/CustomerStorage.ts
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-40) add profileApi
  src/store/features/auth/profileApi.ts
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-40) add Profile page
  src/App.tsx
  src/config/routes.ts
  src/pages/ProfilePage/ProfilePage.module.css
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/ProfilePage/index.ts
  src/store/features/auth/authSlice.ts
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-40) implement Loader component
  src/store/features/auth/CheckAuth.tsx
Due: npm run prettier-fix, npm run eslint

refactor: (CLOTHBERRY-40) add AppWrapper
  src/components/AppWrapper/AppWrapper.module.css
  src/components/AppWrapper/AppWrapper.tsx
  src/components/AppWrapper/index.ts
  src/components/Header/Header.module.css
  src/layout/Layout.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

refactor: (CLOTHBERRY-40) profileApi
  src/store/features/auth/profileApi.ts
Due: npm run prettier-fix, npm run eslint

fix: (CLOTHBERRY-40) CheckAuth loading
  src/store/features/auth/CheckAuth.tsx
  src/store/features/auth/authSlice.ts
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-40) add ProfileManeInfo draft
  src/pages/ProfilePage/ProfileMainInfo/ProfileMainInfo.module.css
  src/pages/ProfilePage/ProfileMainInfo/ProfileMainInfo.tsx
  src/pages/ProfilePage/ProfileMainInfo/index.ts
  src/pages/ProfilePage/ProfilePage.module.css
  src/pages/ProfilePage/ProfilePage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-40) add inputs, error handling
  src/pages/ProfilePage/ProfileMainInfo/ProfileMainInfo.module.css
  src/pages/ProfilePage/ProfileMainInfo/ProfileMainInfo.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/styles/variables/variables.css
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-40) implement profileApi logic
  src/pages/ProfilePage/ProfileMainInfo/ProfileMainInfo.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/store/features/auth/authSlice.ts
  src/store/features/auth/profileApi.ts
Due: npm run prettier-fix, npm run eslint

refactor: (CLOTHBERRY-40) update customer
  src/pages/ProfilePage/ProfileMainInfo/ProfileMainInfo.tsx
  src/store/features/auth/profileApi.ts
Due: npm run prettier-fix, npm run eslint

refactor: (CLOTHBERRY-40) edit button css
  src/pages/ProfilePage/ProfileMainInfo/ProfileMainInfo.module.css
Due: npm run stylelint

refactor: (CLOTHBERRY-40) email position
  src/pages/ProfilePage/ProfileMainInfo/ProfileMainInfo.tsx
Due: npm run prettier-fix, npm run eslint

refactor: (CLOTHBERRY-40) add countries config
  src/config/countries.ts
  src/pages/SignUpPage/SignUpPage.tsx
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-39) add product catalog and category selection, working with api
  .eslintrc.cjs
  src/App.tsx
  src/api/categories.ts
  src/api/search.ts
  src/components/Button/Button.module.css
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
  src/components/Navbar/Dropdown.tsx
  src/components/Navbar/MenuItems.tsx
  src/components/Navbar/Navbar.module.css
  src/components/Navbar/Navbar.tsx
  src/components/ProductItem/Product.module.css
  src/components/ProductItem/ProductItem.tsx
  src/components/ProductList/ProductList.module.css
  src/components/ProductList/ProductList.tsx
  src/config/routes.ts
  src/pages/HomePage/HomePage.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

fix: (CLOTHBERRY-40) postal code validation
  src/components/Input/Input.tsx
  src/helpers/Validators.ts
  src/pages/SignUpPage/SignUpPage.module.css
  src/pages/SignUpPage/SignUpPage.tsx
  src/pages/SignUpPage/buildNewCustomer.ts
  src/store/features/auth/authSlice.ts
Due: npm run prettier-fix, npm run eslint, npm run stylelint

refactor: (CLOTHBERRY-40) styles for Input
  src/components/Input/Input.module.css
Due: npm run stylelint

feat: (CLOTHBERRY-40) add disabled for Button comp
  src/components/Button/Button.tsx
Due: npm run prettier-fix, npm run eslint

refactor: (CLOTHBERRY-40) ProfileMainInfo
  src/pages/ProfilePage/ProfileMainInfo/ProfileMainInfo.tsx
Due: npm run prettier-fix, npm run eslint

refactor: (CLOTHBERRY-40) add variables css
  src/main.tsx
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-40) add subtitles for Inputs
  src/pages/ProfilePage/ProfileMainInfo/ProfileMainInfo.module.css
  src/pages/ProfilePage/ProfileMainInfo/ProfileMainInfo.tsx
  src/styles/variables/variables.css
Due: npm run prettier-fix, npm run eslint, npm run stylelint

refactor: (CLOTHBERRY-40) letter-spacing for Input
  src/components/Input/Input.module.css
Due: npm run stylelint

feat: (CLOTHBERRY-40) add AddressesCard draft
  src/pages/ProfilePage/AddressCard/AddressCard.module.css
  src/pages/ProfilePage/AddressCard/AddressCard.tsx
  src/pages/ProfilePage/AddressCard/index.ts
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/ProfilePage/ShippingAddresses/ShippingAddresses.module.css
  src/pages/ProfilePage/ShippingAddresses/ShippingAddresses.tsx
  src/pages/ProfilePage/ShippingAddresses/index.ts
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-40) add danger Button variant
  src/components/Button/Button.module.css
  src/components/Button/Button.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-40) add set default address
  src/pages/ProfilePage/AddressCard/AddressCard.module.css
  src/pages/ProfilePage/AddressCard/AddressCard.tsx
  src/pages/ProfilePage/ShippingAddresses/ShippingAddresses.module.css
  src/pages/ProfilePage/ShippingAddresses/ShippingAddresses.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: add search by color functional, sort by price, name, filter component
  package-lock.json
  package.json
  public/filter.svg
  public/html.svg
  src/api/search.ts
  src/components/Filter/Filter.module.css
  src/components/Filter/Filter.tsx
  src/components/Filter/data.ts
  src/components/ProductList/ProductList.tsx
  src/styles/base/index.css
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-40) add newAddressCard draft
  src/pages/ProfilePage/NewAddressCard/NewAddressCard.module.css
  src/pages/ProfilePage/NewAddressCard/NewAddressCard.tsx
  src/pages/ProfilePage/NewAddressCard/index.ts
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/ProfilePage/ShippingAddresses/AddressesList.tsx
  src/pages/ProfilePage/ShippingAddresses/index.ts
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-40) add delete logic draft
  src/pages/ProfilePage/AddressCard/AddressCard.tsx
  src/pages/ProfilePage/NewAddressCard/NewAddressCard.tsx
  src/pages/ProfilePage/ProfileMainInfo/ProfileMainInfo.tsx
  src/pages/ProfilePage/ShippingAddresses/AddressesList.tsx
  src/store/features/auth/authSlice.ts
  src/store/features/auth/profileApi.ts
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-40) add toast
  package-lock.json
  package.json
  src/config/toastOptions.ts
  src/layout/Layout.tsx
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-40) refactor Checkbox component
  src/components/Checkbox/Checkbox.tsx
Due: npm run prettier-fix, npm run eslint

fix: (CLOTHBERRY-40) clear error while logout
  src/store/features/auth/authSlice.ts
Due: npm run prettier-fix, npm run eslint

refactor: (CLOTHBERRY-40) add toast
  src/pages/ProfilePage/ProfileMainInfo/ProfileMainInfo.module.css
  src/pages/ProfilePage/ProfileMainInfo/ProfileMainInfo.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

feat: (CLOTHBERRY-40) add CRUD logic for card
  src/pages/ProfilePage/AddressCard/AddressCard.module.css
  src/pages/ProfilePage/AddressCard/AddressCard.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

refactor: (CLOTHBERRY-40) array to render cards
  src/pages/ProfilePage/NewAddressCard/NewAddressCard.module.css
  src/pages/ProfilePage/NewAddressCard/NewAddressCard.tsx
  src/pages/ProfilePage/NewAddressCard/index.ts
  src/pages/ProfilePage/ShippingAddresses/AddressesList.module.css
  src/pages/ProfilePage/ShippingAddresses/AddressesList.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

refactor: refactor filter requests
  package-lock.json
  src/api/search.ts
  src/components/Filter/Filter.tsx
  src/components/ProductList/ProductList.tsx
Due: npm run prettier-fix, npm run eslint

refactor: refactor filter component
  src/api/search.ts
  src/components/Filter/Filter.tsx
  src/components/Filter/data.ts
  src/components/ProductList/ProductList.tsx
Due: npm run prettier-fix, npm run eslint

feat: (CLOTHBERRY-40) add Billing addresses
  .eslintrc.cjs
  src/pages/ProfilePage/AddressCard/AddressCard.tsx
  src/pages/ProfilePage/AddressesList/AddressesList.module.css
  src/pages/ProfilePage/AddressesList/AddressesList.tsx
  src/pages/ProfilePage/AddressesList/index.ts
  src/pages/ProfilePage/ProfilePage.tsx
  src/store/features/auth/profileApi.ts
Due: npm run prettier-fix, npm run eslint, npm run stylelint

fix: (CLOTHBERRY-40) rerender RequireAuth
  src/store/features/auth/RequireAuth.tsx
Due: npm run prettier-fix, npm run eslint

fix: (CLOTHBERRY-40) rerender Header
  src/components/Header/Header.tsx
Due: npm run prettier-fix, npm run eslint

feat: add MobileMenu component
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
  src/components/MobileMenu/MobileMenu.module.css
  src/components/MobileMenu/MobileMenu.tsx
  src/components/Navbar/Navbar.module.css
  src/components/Navbar/Navbar.tsx
Due: npm run prettier-fix, npm run eslint, npm run stylelint

Path conditions:
  npm run prettier-fix: any of: ./**/*.{ts,tsx}
  npm run eslint: any of: ./**/*.{ts,tsx}
  npm run stylelint: any of: ./**/*.{css,scss}
